html, body {width: 100%;height: 100%;margin: 0;padding: 0;}
#map_17249d550ebd43bb94ad6c3859afbcc7 {
    position: relative;
    width: 100.0%;
    height: 85%;
    left: 1.4%;
    top: 11%;
    border-radius: 10px;
}