html, body {width: 100%;height: 100%;margin: 0;padding: 0;}
#map_9359b393552146b5b49ac6130f91b76a {
    position: relative;
    width: 100.0%;
    height: 85%;
    left: 1.4%;
    top: 6%;
    border-radius: 10px;
}
