html, body {width: 100%;height: 100%;margin: 0;padding: 0;}
#map_7055c322c99c407db76e4538a87d3811 {
    position: relative;
    width: 100.0%;
    height: 85%;
    left: 1.4%;
    top: 11%;
    border-radius: 10px;
}
   