/* Note: This example only works with Windows Insider Preview Builds 16237+ or the Fall Creators Update. */
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Gamja Flower', cursive;
}

body::-webkit-scrollbar {
    width: 12px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border-radius: 12px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  body::-webkit-scrollbar-track {
	height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
  }
a:link { color:#000000; text-decoration: none;}  

a:visited { color:#000000; text-decoration: none;} 

a:hover { color:#000000; text-decoration: none;}

a:active { color:#000000; text-decoration: none;}

#container1 { 
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "header header header"
    "nav section aside"
    "footer footer footer";
	grid-template-rows: 1fr 70% 1fr;
	grid-template-columns: 15% 1fr 15%;
    background: rgb(245, 244, 244);
	grid-gap: 20px;
    width: 100%;
    height: 125%;
    
}

header {
    margin: 0 auto;
	grid-area: header;

}

nav {
	grid-area: nav; 
    padding-right: 10px;
}

section {
	grid-area: section;    
}

aside {
	grid-area: aside; 
}

footer {
	grid-area: footer;
}


/*  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  */
.map_button{
    display: flex;
    /* grid-template-areas: 
    "map1"
    "map2"
    "map3"
    "map4";
    grid-template-rows: 25% 25% 25% 25% ;
    justify-content:center;
    grid-gap: 10px;
    margin: 10px; */
}
.map_image{
    width: 300px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50px;
}
.map_button1{
    /* grid-area: map1; */
    cursor: pointer;
    
}
.map_button2{
    /* grid-area: map2; */
    cursor: pointer;
}
.map_button3{
    /* grid-area: map3; */
    cursor: pointer;
}
.map_button4{
    /* grid-area: map4; */
    cursor: pointer;
}

/* .hover_image{
	margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    filter: drop-shadow(5px 5px 5px #000);
}
.hover_image:hover {
	margin-top: 0;
} */

.maps_image{
    width: 100%;
    height: 100% ;
}

/*  */
#container2{
    display: grid;
    grid-gap: 50px;
    /* grid-template-columns: repeat(9, 1fr); */
    grid-template-areas: 
    "section1_1 section1_2 section1_3"
    "section2 section2 section4"
    "section5_1 section5_2 section5_2";
    grid-template-rows: 50% 50% 50%;
	/* grid-template-columns: 1fr 1fr 1fr; */
    width: 100%;
    height: 100vh;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 680px;
}

#section1_1{
    background: rgb(245, 244, 244);
    grid-area: section1_1;
    overflow-y: hidden;
    overflow-x: hidden;
    word-break:break-all;
    text-align: center;
    border-radius: 50px;
    min-width: 100px;
}
#section1_2{
    background: rgb(245, 244, 244);
    grid-area: section1_2;
    overflow-y: hidden;
    overflow-x: hidden;
    word-break:break-all;
    text-align: center;
    border-radius: 50px;
    min-width: 100px;
}
#section1_3{
    background: rgb(245, 244, 244);
    grid-area: section1_3;
    overflow-y: hidden;
    overflow-x: hidden;
    word-break:break-all;
    text-align: center;
    border-radius: 50px;
    min-width: 100px;
}


#section2{
    background: rgb(245, 244, 244);
    grid-area: section2;
    overflow-y: hidden;
    overflow-x: hidden;
    /* word-break:break-all; */
    border-radius: 50px;
    min-width: 100px;
}


#section3{
    background: rgb(245, 244, 244);
    grid-area: section3;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    word-break:break-all;
    text-align: center;
    border-radius: 50px;
    min-width: 100px;
}
#section4{
    background: rgb(245, 244, 244);
    grid-area: section4;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    word-break:break-all;
    text-align: center;
    border-radius: 50px;
    min-width: 100px;
}
#section5_1{
    background: rgb(245, 244, 244);
    grid-area: section5_1;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    word-break:break-all;
    text-align: center;
    border-radius: 50px;
    min-width: 100px;
}
#section5_2{
    background: rgb(245, 244, 244);
    grid-area: section5_2;
    overflow-y: hidden;
    overflow-x: hidden;
    word-break:break-all;
    border-radius: 50px;
    min-width: 100px;
}

.chart_day{
    width: 25vw;
    height: 35vh;
    margin: 20px;
    border-radius: 50px;
    filter: drop-shadow(5px 5px 5px #000);
}

.description{
    font-size: 25px;
    margin: 10px;
}


.scroll_bar::-webkit-scrollbar {
    width: 10px;
  }
.scroll_bar::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border-radius: 4px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
.scroll_bar::-webkit-scrollbar-track {
	height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
  }

  .hover_image {
	position: relative;
    margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
 filter: drop-shadow(5px 5px 5px #000);
}
.hover_image .text {
	position: absolute;		
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;			
}
.hover_image .text h1 {		
	margin: 0;		
	color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Gamja Flower', cursive;
}
.hover_image:hover .text {
	opacity: 1;
	font-family: 'Gamja Flower', cursive;
}
.hover_image:hover img {
	-webkit-filter: sepia(90%);
}
.maps_title{
    width: 100%;
    text-align:center;
    margin-bottom: 20px;
    font-size: 50px;
}
.header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    color:#fff;
    z-index: 1000;
    height: 100px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;

}
.header.shrink {
    height: 55px;
}
.header h1
{
    font-size:50px;
    font-weight:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink h1
{
    font-size:24px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.content
{
height:200px;
 /*just to get the page to scroll*/
}


.scrollup {
    bottom: 3.0em;
    cursor: pointer;
    display: none;
    padding: .25em .5em;
    position: fixed;
    right: 0.1em;
    z-index: 100;
    opacity: 0.5;
  }

  
  .circular-menu .floating-btn {
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: hsl(4, 98%, 60%);
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 3.9;
    cursor: pointer;
    outline: 0;
  }
  
  .circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
  }
  
  .circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
  }
  
  .circular-menu .floating-btn i {
    font-size: 1.3em;
    transition: transform .2s;  
  }
  
  .circular-menu.active .floating-btn i {
    transform: rotate(-45deg);
  }
  
  .circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: hsl(4, 98%, 60%);
    transition: all .3s ease;
  }
  
  .circular-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }
  
  .circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
  }
  
  .circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: hsla(0,0%,0%,.1);
  }
  
  .circular-menu .menu-item:hover {
    background-color: hsla(0,0%,0%,.3);
  }
  
  .circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(1em,-7em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em,-6.3em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em,-3.2em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-7em,1em,0);
  }
  .circular-menu.active .menu-item:nth-child(5) {
    transform: translate3d(-8em,4em,0);
  }
  
  
  /**
   * The other theme for this menu
   */
  
  .circular-menu.circular-menu-left {
    right: auto; 
    left: 6.5em;
  }
  
  .circular-menu.circular-menu-left .floating-btn {
    background-color: hsl(217, 89%, 61%);
  }
  
  .circular-menu.circular-menu-left:after {
    background-color: hsl(217, 89%, 61%);
  }
  
  .circular-menu.circular-menu-left.active .floating-btn i {
    transform: rotate(90deg);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(-1em,-7em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(3.5em,-6.3em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(6.5em,-3.2em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(7em,1em,0);
  }
  .circular-menu.circular-menu-left.active .menu-item:nth-child(5) {
    transform: translate3d(5em,5.3em,0);
  }
  .circular-menu.circular-menu-left.active .menu-item:nth-child(6) {
    transform: translate3d(1em,7.3em,0);
  }
  .circular-menu.circular-menu-left.active .menu-item:nth-child(7) {
    transform: translate3d(-3em,6.3em,0);
  }
  .circular-menu.circular-menu-left.active .menu-item:nth-child(8) {
    transform: translate3d(-6em,3.3em,0);
}
.circular-menu.circular-menu-left.active .menu-item:nth-child(9) {
    transform: translate3d(-7em,-0.9em,0);
}

.circular-menu {
    z-index: 100;
    bottom: 5em;
    right: 1em;
    bottom: 55em;
    position: fixed;
  }

  @media (max-width: 1200px) {
    #container2 {
        grid-template-areas: 
        "section1_1"
        "section1_2"
        "section1_3"
        "section2"
        "section4"
        "section5_1"
        "section5_2";
        grid-template-rows: 40% 40% 40% 40% 40% 40% 40%;
        padding-right: 100px;
    padding-left: 100px;
    margin-top: 200px;
    margin-bottom: 2000px;
    }
    .chart_day{
        width: 38vw;
        height: 28vh;
        margin: 20px;
        border-radius: 50px;
        filter: drop-shadow(5px 5px 5px #000);
  }
}
.flex{
    display: flex;
    
}