/* Note: This example only works with Windows Insider Preview Builds 16237+ or the Fall Creators Update. */
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: inherit;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1000;
  height: 100px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  text-align:center;
  left: 61px;
  filter: drop-shadow(5px 5px 5px rgb(218, 216, 216));
}
.header2 {
  /* height 가 100px 일때 line-height가 100 -> 텍스트 중앙 정렬 */
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;  
  height: 100px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background: #fa6d6d;
  color:#fff;
  z-index: 1000;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  text-align:center;
}
.team_name{
  width: 50px;
  height: 50px;
  line-height: 50px;  
  border-radius: 500px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin: 10px;
}

.sidenav {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(63, 65, 95);
  overflow-x: hidden;
  filter: drop-shadow(5px 5px 5px rgb(160, 158, 158));
  /* padding-top: 102px; */
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
}
.side_button{
cursor: pointer;

}
.side_name{
  line-height: 50px;  
  color: #6d6d6d;
  text-align:center; 
}

.active {
  background-color: rgba(34,34,34,0.8);
}
body::-webkit-scrollbar {
    width: 12px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border-radius: 12px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  body::-webkit-scrollbar-track {
	height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
  }
a:link { color:#000000; text-decoration: none;}  

a:visited { color:#000000; text-decoration: none;} 

a:hover { color:#000000; text-decoration: none;}

a:active { color:#000000; text-decoration: none;}

#container1 { 
  font-family: inherit;
	display: grid;
	grid-template-areas: 
    "header header header"
    "nav section aside";
	grid-template-rows: 12% 1fr;
	grid-template-columns:1fr 92% 1fr;
  background: rgb(245, 244, 244);
	grid-gap: 30px;
    width: 100%;
    height: 80%;
    
}

header {
    margin: 0 auto;
	grid-area: header;

}

nav {
	grid-area: nav; 
    padding-right: 10px;
}

section {
	grid-area: section;    
}

aside {
	grid-area: aside; 
}

footer {
	grid-area: footer;
}


/*  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  */
.map_button{
    display: flex;
    /* grid-template-areas: 
    "map1"
    "map2"
    "map3"
    "map4";
    grid-template-rows: 25% 25% 25% 25% ;
    justify-content:center;
    grid-gap: 10px;
    margin: 10px; */
}
.map_image{
    width: 21vw;
    height: 6vw;
    margin: 0 auto;
    border-radius: 10px;
    margin: 20px;
    margin-top: 40px;
    background-color: white;
    line-height: 6vw;
}
.map_button1{
    /* grid-area: map1; */
    cursor: pointer;
    margin-left: 50px;
}
.map_button2{
    /* grid-area: map2; */
    cursor: pointer;
}
.map_button3{
    /* grid-area: map3; */
    cursor: pointer;
}
.map_button4{
    /* grid-area: map4; */
    cursor: pointer;
}
.bubble-bottom {
  display: inline-block;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: bottom;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #808080 transparent transparent transparent;
}
.bubble-bottom:hover:before {
  bottom: -10px;
}
/* .hover_image{
	margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    /* filter: drop-shadow(5px 5px 5px #000);} */

.hover_image:hover {
	margin-top: 0;
} */

.maps_image{
    width: 100%;
    height: 100% ;
}

/*  */
#container2{
    display: grid;
    grid-gap: 50px;
    /* grid-template-columns: repeat(9, 1fr); */
    grid-template-areas: 
    "section1_1 section1_2 section1_3"
    "section2 section2 section4"
    " section5_3 section5_1 section5_1"
    "blank blank blank";
    grid-template-rows: 50% 50% 50% 5%;
	grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 50px;
}
.blank{
}
span{
  font-size: 20px;
}
#section1_1{
    background: rgb(245, 244, 244);
    grid-area: section1_1;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break:break-all;
    text-align: center;
    border-radius: 10px;
    min-width: 380px;
    font-size: 20px;
}
#section1_2{
    background: rgb(245, 244, 244);
    grid-area: section1_2;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break:break-all;
    text-align: center;
    border-radius: 10px;
    min-width: 380px;
    font-size: 20px;

}
#section1_3{
    background: rgb(245, 244, 244);
    grid-area: section1_3;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break:break-all;
    text-align: center;
    border-radius: 10px;
    min-width: 380px;
    
}


#section2{
    background: rgb(245, 244, 244);
    grid-area: section2;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break:break-all;
    border-radius: 10px;
    min-width: 380px;
}


#section3{
    background: rgb(245, 244, 244);
    grid-area: section3;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    word-break:break-all;
    text-align: center;
    border-radius: 10px;
    min-width: 380px;
}
#section4{
    background: rgb(245, 244, 244);
    grid-area: section4;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    word-break:break-all;
    text-align: center;
    border-radius: 10px;
    min-width: 380px;
}
#section5_1{
    background: rgb(245, 244, 244);
    grid-area: section5_1;
    word-break:break-all;
    text-align: center;
    border-radius: 10px;
    min-width: 380px;
}
#section5_2{
    background: rgb(245, 244, 244);
    grid-area: section5_2;
    word-break:break-all;
    text-align: center;
    border-radius: 10px;
    min-width: 380px;
}
#section5_3{
  background: rgb(245, 244, 244);
  grid-area: section5_3;
  overflow-y: scroll;
  overflow-x: hidden;
  word-break:break-all;
  border-radius: 10px;
  min-width: 380px;
}

.chart_day{
    width: 25vw;
    height: 35vh;
    margin: 20px;
    border-radius: 10px;
    /* filter: drop-shadow(5px 5px 5px #000); */
}

.description{
    font-size: 25px;
    margin: 10px;
}


.scroll_bar::-webkit-scrollbar {
    width: 10px;
  }
.scroll_bar::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border-radius: 4px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
.scroll_bar::-webkit-scrollbar-track {
	height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
  }

  /* .hover_image {
	position: relative;
    margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
 filter: drop-shadow(5px 5px 5px #000);
}
.hover_image .text {
	position: absolute;		
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;			
}
.hover_image .text h1 {		
	margin: 0;		
	color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Gamja Flower', cursive;
}
.hover_image:hover .text {
	opacity: 1;
	font-family: 'Gamja Flower', cursive;
}
.hover_image:hover img {
	-webkit-filter: sepia(90%);
} */
.maps_title{
    width: 100%;
    text-align:center;
    margin-bottom: 20px;
    font-size: 50px;
}

.scrollup {
    bottom: 3.0em;
    cursor: pointer;
    display: none;
    padding: .25em .5em;
    position: fixed;
    right: 0.1em;
    z-index: 100;
    opacity: 0.5;
  }


  @media (max-width: 1200px) {
    #container2 {
        grid-template-areas: 
        "section1_1"
        "section1_2"
        "section1_3"
        "section2"
        "section4"
        "section5_1"
        "section5_2";
        grid-template-rows: 40% 40% 40% 40% 40% 40% 40%;
        padding-right: 100px;
    padding-left: 100px;
    margin-top: 200px;
    margin-bottom: 2000px;
    }
    .chart_day{
        width: 34vw;
        height: 28vh;
        margin: 20px;
        border-radius: 10px;
        /* filter: drop-shadow(5px 5px 5px #000); */
  }
  .map_text{
    display: none;
  }
  .map_image{
    background-color:rgb(245, 244, 244); ;
  }
}
.flex{
    display: flex;
    
}
.mobile{
  display: none;
}

@media (max-width: 1000px) {
  .maps{display: none;}
  .header{display: none;}
  .header2{display: none;}
  .sidenav{display: none;}
  .scrollup{display: none;}
  .container1{display: none;}
  .folium-map{display: none;}
  .container2{display: none;}
  .maps_title{display: none;}
  .map_button{display: none;}
  ::selection{display: none;}
  .mobile{display: inline;}
}



  .bubble-float-left {
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .bubble-float-left:before {
    border-style: solid;
    transition-duration: 0.3s;
    transition-property: left;
  }
  .bubble-float-left:hover {
    transform: translateX(5px);
  }
  .bubble-float-left:hover:before {
  }

.map_icon{
  width: 4vw;
  height: 4vw;
  vertical-align:middle;
  margin: 3%;
  margin-top: 6%;
}

.map_text{
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  color: #6d6d6d;
  word-break:break-all;
  margin-right: 50px;
}
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499; /* was 1000 */
  pointer-events: none;
  }